html{
	overflow-x: hidden;
	/*overflow-y: hidden;*/
}

body, html{
	font-size:1em;
	font-family: 'Raleway', sans-serif;
}

body{
	background-image: url(https://i.imgur.com/kHE4n5j.jpg);
}


/* NAVBAR STYLES */

.navbar-topo{
	background-color:#fff!important;
	border-bottom:dashed #000 1px;
	position:relative;
}

.palavras-navbar{
	margin-top:55%;
	opacity:0.2;
	color:#6d6f7b!important;
}

.transição{
	transition:1.4s;
}

.palavras-navbar-depois{
	
	margin-top:0%;
	opacity:1;	
}

.item-navbar:hover{
	transition:0s!important;
	color: #323648!important;
	font-weight:999;
	font-size:1.1em;
}

.navbar-toggler{
	background-color:#fff!important;
}

.logo-navbar{
	width:100%;
	height:4em;
}

.envelope{
	background-image: url(https://i.imgur.com/z9OvXWx.png);
	background-repeat: no-repeat;
	width:63px;
	height:63px;
	transition:1s;
}

.envelope-depois{
	transition:1.5s;
	transform:rotate(360deg)!important;
	background-image: url(https://i.imgur.com/aTdO8EN.png)!important;
}

/* MAIN STYLES */

.areaContato{
	transition:0.5s;
	margin-top:-7%;
	width:90%;
	height:550px;
	background-color:#c94535;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 20px;
	background-image: url(../assets/slidecontato.jpg);
	background-size:100% 100%;
}

/*.fundoVermelho:hover{
	transition:1s;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
    transform: scale(1.3);
}*/

.areaInicial{
	margin-top:-7%;
	width:95%;
	height:550px;
	background-color:#3b77a5;
	-webkit-border-top-left-radius: 200px;
	-webkit-border-bottom-right-radius: 200px;
	-moz-border-radius-topleft: 200px;
	-moz-border-radius-bottomright: 200px;
	border-top-left-radius: 200px;
	border-bottom-right-radius: 200px;
	background-image: url(../assets/advocacia2.jpg);
	background-size:100% 100%;
	position:relative;
}

.fundoRoxo{
	margin-top:-7%;
	width:100%;
	height:550px;
	background-color:#023373;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 50px;
	-webkit-border-top-left-radius: 45px;
	-webkit-border-top-right-radius: 200px;
	-webkit-border-bottom-right-radius: 89px;
	-moz-border-radius-topleft: 45px;
	-moz-border-radius-topright: 200px;
	-moz-border-radius-bottomright: 89px;
	border-top-left-radius: 45px;
	border-top-right-radius: 200px;
	border-bottom-right-radius: 89px; 
}

.areasDeAtuacao{
	margin-top:-7%;
	width:100%;
	height:550px;
	background-color:#622d1c;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 72px;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius: 72px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	border-radius: 72px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	transition:1s;
}

.areasDeAtuacao:hover{
	transition:1s;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
    transform: scale(0.8)
}

.formulario{
	padding-top:1%;
	align-content:center;
}

.campos{
	font-weight:bold;
}

#fullpage{
	margin-top:0%;
}

.botao-form{
	background-color:rgba(0,0,0,0)!important;
	border-color:#28a745;
}

.botao-form:hover{
	transition:0.5s;
	background-color:#28a745!important;
	border-color:#28a745;
}

.inputs-dos-forms{
	box-shadow:0px;
}

.inputs-dos-forms:target{
	-webkit-box-shadow: -3px -3px 35px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px -3px 35px -17px rgba(0,0,0,0.75);
	box-shadow: -3px -3px 35px -17px rgba(0,0,0,0.75);
}

.welcome{
	text-align:left;
	font-family: 'Arial', sans-serif;
	font-weight:bold;
	color:#fff;
}

.textoBoasVindas{
	font-family: 'Arial', sans-serif;
	color:#fff;
	text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
	font-weight:normal;
}

.gamb{
	position:absolute;
	margin-top:10%;
	margin-left:2%;
	width:50%;
	height:60%;
}

.iconeCivel{
	margin-top:5%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.textoAreasAtuacao{
	font-weight:bold;
	color:#fff;
	text-align:center;
	width:100%;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
	font-size:1.1em;
}

.tituloAreasAtuacao{
	font-weight:bold;
	color:#fff;
	text-align:center;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}

.imagem-biblioteca{
	background-image:url(../assets/urban2Black.png);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}

.imagem-familia{
	background-image:url(../assets/familiaWallpaper.png);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}

.imagem-tributario{
	background-image:url(../assets/tributarioWallpaper.png);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}

.imagem-previdenciario{
	background-image:url(../assets/previdenciarioWallpaper.png);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}

.imagem-trabalhista{
	background-image:url(../assets/trabalhista.png);
	background-repeat:no-repeat;
	width:100%;
	height:100%;
}


@media (max-width: 575.98px) { 
	.areaInicial{
		border-radius:0px;
		width:100%;
		height:75%;
		width:100%;
		margin-top:-30%;
	}
	
	/* FOMULARIO RESPONSIVO*/
	.areaContato{
		border-radius:0px;
		width:100%;
		height:80%;
		margin-top:-30%;
	}

	.formulario{

	}

	.campos{
		font-size:0.8em;
		color:#fff;
		font-weight:bold;
	}

	.fundoVermelho{
		border-radius:0px;
		width:100%;
	}

	.inputs-dos-forms{
		height:30px;
	}

	.formMensagem{
		position:absolute;
		margin-left:60%;
		margin-top:75%;
	}

	.mensagem{
		position:absolute;
		margin-top:68%;
		margin-left:53%; 
	}
	/*FIM DO FORMULARIO RESPONSIVO*/

	.fundoRoxo{
		border-radius:0px;
		width:100%;
	}

	.welcome{
	text-align:left;
	font-family: 'Arial', sans-serif;
	font-weight:bold;
	color:#fff;
	font-size:1.8em;
	}

	.textoBoasVindas{
	font-family: 'Arial', sans-serif;
	color:#fff;
	text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
	font-weight:normal;
	font-size:1em;
	}

	.gamb{
		margin-top:6%;
		width:60%;
	}

	.areasDeAtuacao{
		border-radius:0px;
	}

	.iconeCivel{
		margin-top:5%;
		padding-right:10%;
		width:30%;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.textoAreasAtuacao{
		font-weight:bold;
		color:#fff;
		text-align:center;
		margin-left:10%;
		width:80%;
		text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
		font-size:.9em;
	}
	.tituloAreasAtuacao{
		margin-top:-15%;
		font-size:1.5em;
		font-weight:bold;
		color:#fff;
		margin-left:45%;
		text-align:center;
		text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
	}

	.iconeTrabalhista{
		margin-left:30%;
	}

	.iconePrevidenciario{
		margin-left:25%;
	}
}